
@font-face {
  font-family: 'SolaimanLipi';
  src: url('SolaimanLipid41d.eot?#iefix') format('embedded-opentype'),  
  url('SolaimanLipi.woff') format('woff'), 
  url('SolaimanLipi.ttf')  format('truetype'), 
  url('SolaimanLipi.html#SolaimanLipi') format('svg');
  font-weight: normal;
  font-style: normal;
}
